@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6c6a6a;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7a0e0e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484747;
}

@font-face {
  font-family: 'HarryP';
  src: url('../public/fonts/HarryP.woff2') format('woff2'),
      url('../public/fonts/HarryP.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
